/* styles.css */

body {
    background: linear-gradient(to right, #78529c, #FF1493, #FF0000);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.cont {
margin: 10% auto;
background: #971871;
text-align: center;
color:white
}

header {
    text-align: center;
    padding: 0px 0;
    color: #fff;
}

.container {
    background-color: #cd3c5e;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
   
}

.user-textbox, .password-textbox, .submit-btn, .sign-up-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.submit-btn {
    background-color: #49994c;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #27a317;
}

.sign-up-link {
    color: #3300ff;
}

.sign-up-link:hover {
    text-decoration: burlywood;
}
* {
margin:0;
padding:0;
}
